.name{
    text-align: justify;
    padding: 10px;
}

li{
  
    cursor: pointer;
    padding: 10px;
}

ul{
    margin-left: 200px;
}
.list-box{
    background-color: grey;
    width:70%;
    padding:10px;
    color: white;
}